-
    var tabs = [
            {
                'title' : 'Окна',
                'p1' : 'Мы занимаемся установкой пластиковых окон в Белгороде, Старом Осколе и Белгородской области уже более 12 лет.При установке ПВХ окон используются материалы и оборудование известных европейских фирм (Veka, Rehau, KBE, Krauss, WDS) что в комплексе с квалифицированным монтажом приводит к долгой и безупречной службе изделий.',
                'p2' : 'Работы по установке окон учитывают требования современных ГОСТов и СНиПов, разработанных МИНСТРОЕМ РОССИИ, с соблюдением рекомендаций фирмы REHAU, а также требований по технике безопасности. Особое внимание при установке окон уделяется герметизации швов и стыков. ',
                'p3' : 'Нас рекомендуют 97% клиентов и каждый 3-й заказчик возвращается к нам снова. Мы ценим доверие и признательность наших покупателей.',
                'p4' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number': '1',
                'href' : 'okna'
            },
            {
                'title' : 'Ворота и ставни',
                'p1' : 'Автоматические ворота, предлагаемые нашей компанией, изготовлены фирмой DoorHan – одним из ведущих производителей ограждающих конструкций. Мы работаем только напрямую с изготовителем и не пользуемся услугами посредников, благодаря чему можем предложить купить ворота в Старом Осколе, Белгороде и области по доступной цене.',
                'p2' : 'Мы более 12 лет занимаетмся квалифицированным монтажем и сервисным обслуживанием ворот и рольставен.',
                'p3' : 'Вы можете купить ворота в Старом Осколе, Белгороде и Белгородской области любого типа и размера – секционные, распашные, откатные и т.д. Заказывайте бесплатно замерщика, заключайте договор в день замера и получайте скидку на ворота. рольставни. шлакбаумы и автоматику для ворот.',
                'p4' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number': '2',
                'href' : 'dveri'
            },
            {
                'title' : 'Электрика',
                'p1' : 'Проводим электромонтажные работы в квартире с соблюдением норм и требований надзорных инстанций, от замены электропроводки, розетки, выключатели до монтажа сложных систем электромонтажа в квартирах. Работы по электромонтажу квартиры или коттеджа ведут квалифицированные сотрудники с опытом и допуском к электромонтажным работам, в короткие сроки устраняют неисправности в электропроводки квартиры.',
                'p2' : 'В электромонтажные работы по квартире входит: штробление стен для прокладки линий кабеля, прокладка линий, кабеля в штробах, монтаж электрощита с группой автоматов, монтаж подрозетников по бетону или гипсу, прокладка ТВ-линии и телефонной, монтаж интернет провода. Так же производится установка и монтаж электропотребителей. ',
                'p3' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number': '3',
                'href' : 'electric'
            },
            {
                'title' : 'Сантехника',
                'p1' : 'Наша организация предоставляет качественные услуги сантехника в Старом Осколе, Белгороде и области уже более 12 лет.',
                'p2' : 'Материалы для выполнения сантехнических работ используются, только известных торговых марок тем самым гарантируя клиентам максимальную надежность и долговечность.',
                'p3' : 'Все сантехнические работы любого уровня сложности проводятся с гарантией квалифицированными специалисты сантехники с многолетним опытом работы, оставляя за собой только положительные отзывы клиентов в отремонтированных квартирах.',
                'p4' : 'Наш профессионализм, удобный сервис , качество услуг и доступные цены порадуют Вас. Для Вашего удобства наша команда работает 7 дней в неделю.',
                'p5' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number': '4',
                'href' : 'santehnika'
            },
            {
                'title' : 'Пол',
                'p1' : 'Наша компания профессиональный и надежный партнер в сфере устройства пола жилых и общественных зданий. Мы обладаем большим опытом работ по укладке напольных покрытий в Старом Осколе, Белгороде и Белгородской области и широким выбором материалов. ',
                'p2' : 'Основным достоинством компании являются сотрудники – сертифицированные специалисты: Forbo, Tarkett, Ceresit|Thomsit, Mapei, DoorHan.',
                'p3' : 'Вам больше не потребуется искать новых партнеров - мы выполняем устройство пола с последующим обслуживанием. уборкой и уходом, обновлением и покрытием пола защитными покрытиями. Мы можем сделать все, чтобы Вы и Ваши гости с удовольствием смотрели под ноги.',
                'p4' : 'Нам доверяют свои интерьеры крупнейшие российские и компании, государственные и культурные учреждения, известные гостиничные и спортивные объекты.',
                'number': '5',
                'href' : 'pol'
            },
            {
                'title' : 'Потолок',
                'p1' : 'Наша компания предоставляет полный спектр услуг по  продаже и установке натяжных потолков любой сложности в Старом Осколе, Белгороде и Белгородской области.',
                'p2' : 'В составе нашей дружной команды – самые настоящие профессионалы и мастера своего дела от консультанта отвечающего на Ваше обращение, до монтажника осуществляющего монтаж. В своей деятельности мы используем только высококачественные материалы от проверенных и надежных поставщиков. Все потолки производятся по новейшим технологиям на самом современном оборудовании. Монтаж осуществляется с помощью сертифицированного и безопасного газового оборудования практически без пыли.',
                'p3' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number': '6',
                'href' : 'potoloc'
            },
            {
                'title' : 'Малярно-штукатурные работы',
                'p1' : 'Для каждого заказчика, обратившегося в нашу компанию работают квалифицированные специалисты узкого профиля. Бригады укомплектованы малярами, штукатурами и представителями других профильных профессий. Все они прошли обучение, получили сертификаты, имеют серьезный практический опыт. Мы выполняем подготовительные и отделочные работы любой сложности в Старом Осколе, Белгороде и Белгородской области в помещениях разного уровня и назначения. За нас говорят многочисленные реализованные в Белгородской области проектные решения.',
                'p2' : 'Мы качественно производим шпатлевку и штукатурку стен и потолков, а также монтаж потолков, стен и перегородок из ипсокартона любой сложности.',
                'p3' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number': '7',
                'href' : 'otdelka'
            },
            {
                'title' : 'Кровельные работы',
                'p1' : 'Кровельные работы помогают быстро отремонтировать крышу в частном загородном доме или на даче. Предварительно мастер приезжает на консультацию, производит замеры, составляет смету и примерный прайс на материалы. Наши специалисты  помогут отремонтировать или установить конек, кожух печной трубы, выполнить замену и монтаж на основе листа металлочерепицы, подшив свесов, сделать гидроизоляцию кровли — все «под ключ».  Все работы проводятся в максимально безопасных условиях, с учетом пожеланий заказчика, по срокам — от 1 дня.',
                'p2' : 'Работаем с физическими и юридическими лицами по наличному и безналичному расчету.',
                'number' : '8',
                'href' : 'krovla'
            }
    ]

section.section.section__tabs.we-can
    .container
        .section-heading__wrap
            h2.section-heading  Ремонтные работы
                div.color-acsent - что мы умеем
        each item in tabs
            a(href= item.href id= item.href)
        .tabs
            input#tab_1(type="radio" name="tab" checked="checked") 
            input#tab_2(type="radio" name="tab") 
            input#tab_3(type="radio" name="tab") 
            input#tab_4(type="radio" name="tab") 
            input#tab_5(type="radio" name="tab") 
            input#tab_6(type="radio" name="tab") 
            input#tab_7(type="radio" name="tab") 
            input#tab_8(type="radio" name="tab") 
            .tabs_cont
                each item in tabs
                    div(id= "tab_c" + item.number).tab
                        
                        h4.tabs__title= item.title
                        .decor-line
                        p= item.p1
                        p= item.p2
                        if item.p3
                            p= item.p3
                        if item.p4
                            p= item.p4
                        if item.p5
                            p= item.p5
            .tabs__nav
                each item in tabs
                    div
                        label(for="tab_" + item.number id="tab_l" + item.number data-id= item.href)= item.title
